<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_CommerceByAashish</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_CommerceByAashish.styles.css" asp-append-version="true" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ccc;">
        <div class="container-fluid" style="padding:0">
            <a class="navbar-brand " href="#">  <p class="display-4"> <i class="fa fa-shopping-cart"></i> E-Com Website</p> </a>
            @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>*@



            <button class="btn btn-outline-dark" onclick="showCart()" data-toggle="modal" data-target="#exampleModal" style="font-size: 20px;">
                <i class='fa fa-shopping-cart'></i>
            </button>


        </div>






        @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            </ul>
            </div>*@

    </nav>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Button trigger modal -->
    <!-- Modal -->


    <footer class="border-top footer text-muted">
        <div class="container-fluid" style="height:35px">
            &copy; 2022 - VipulSatle - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/JavaScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
